.container01 {
  padding: 0rem 0rem 2rem 3rem ;
  display: flex;
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.sidebar {
  border-radius: 16px;
  padding: 1rem 0rem;
  width: 25%;
  background-color: #34b433;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.sidebar ul {
  list-style: none;
  padding: 1rem;
}

.sidebar ul li {
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #2a8a2b;
}

.content {
  width: 100%;
  padding: 0rem 0rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description {
  display: contents;
  text-align: center;
}

.description h2 {
  margin-bottom: 1rem;
  font-size: 3rem;
  color: #34b433;
}

.description p {

  font-size: 1.2rem;
  color: white;
}

.image-container01 img {
  width: 100%;
  max-width: 500px;
  height: auto;
  border-radius: 10px;
}

.content-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.content-container div {
  margin: 1rem;
  max-width: 250px;
}

.content-container iframe {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}
@media (min-width: 320px) and (max-width: 560px) {
  .section__container01{
    padding: 10rem 1rem;
  }
  .content-container{
    flex-wrap: wrap;
  }
  .content{
    padding: 1rem 0rem 0rem 0rem;
  }
  .description h2 {
    font-size: 1.5rem;
  }
}


@media (max-width: 1024px) {
  .container01 {
    padding: 0rem;
    flex-direction: column;
    height: auto;
  }
  .content-container div {
    max-width: 270px;
  }

  .sidebar {
    width: 100%;
    padding-bottom: 2rem;
  }

  .content {
    width: 100%;
    
  }
}
@media (min-width: 1400px) and (max-width:1510px){
  
  .content-container div {
    max-width: 337px;
  }
  .section__container01{
    padding: 1rem 0rem 14rem 0rem;
  }
}


@media (min-width: 1600px)  and (max-width: 2000px) {
  .section__container{
    padding: 0.9rem 0rem 9rem 0rem;
   }
   .sidebar{
    width: 19%;
   }
   .content-container div {
    max-width: 400px;
  }
  }

